[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/checksyntax"]
	path = .vim/bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/xterm-color-table.vim"]
	path = .vim/bundle/xterm-color-table.vim
	url = git://github.com/guns/xterm-color-table.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/colorselector.vim"]
	path = .vim/bundle/colorselector.vim
	url = git://github.com/c9s/colorselector.vim.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/OOP-javascript-indentation"]
	path = .vim/bundle/OOP-javascript-indentation
	url = git://github.com/vim-scripts/OOP-javascript-indentation.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
